<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col">
    <%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
    <hr>
  </div>
</div>
<br>

<sb-ng-bootstrap-table _ngcontent-uia-c215="" _nghost-uia-c214="">
  <form _ngcontent-uia-c214="" novalidate="" class="ng-untouched ng-pristine ng-valid">
    <div _ngcontent-uia-c214="" class="mb-3"><div _ngcontent-uia-c214="" class="input-group table-search">
      <input _ngcontent-uia-c214="" type="text" name="searchTerm" placeholder="Full user search..." class="form-control ng-untouched ng-pristine ng-valid">
      <!---->
      </div>
    </div>
    <table _ngcontent-uia-c214="" class="table table-striped">
      <thead _ngcontent-uia-c214=""><tr _ngcontent-uia-c214="">
        <th _ngcontent-uia-c214="" scope="col">#</th>
        <th _ngcontent-uia-c214="" scope="col" sbsortable="name"><span _ngcontent-uia-c214="">Email</span></th>
        <th _ngcontent-uia-c214="" scope="col" sbsortable="area"><span _ngcontent-uia-c214="">Password</span></th>
        </tr>
      </thead>
      <tbody _ngcontent-uia-c214="">
      <% @users.each do |user| %>
        <tr _ngcontent-uia-c214="">
          <th _ngcontent-uia-c214="" scope="row"><%= user.name%></th>
          <td _ngcontent-uia-c214=""><%= user.email%></ngb-highlight></td>
          <td _ngcontent-uia-c214=""><ngb-highlight _ngcontent-uia-c214="">********</ngb-highlight></td>
          <td _ngcontent-uia-c214=""><ngb-highlight _ngcontent-uia-c214=""><%= link_to 'Show', user, class: "btn btn-primary" %></ngb-highlight></td>
          <td _ngcontent-uia-c214=""><ngb-highlight _ngcontent-uia-c214=""><%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning" %></ngb-highlight></td>
          <td _ngcontent-uia-c214=""><ngb-highlight _ngcontent-uia-c214=""><%= link_to 'Destroy', user, method: :delete, class: "btn btn-danger",
              data: {controller: 'sweetalert',
                     action: 'click->sweetalert#showAlert',
                     sweetalert_title_value: 'Are you sure?' } %></ngb-highlight>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div style="text-align:center">
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </div>
  </form>
</sb-ng-bootstrap-table>
