<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert" >
      <h5><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h5>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">
      <%= form.label :name %>
    </label>
    <div class="col-sm-10">
      <%= form.text_field :name, required:true %>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">
      <%= form.label :image %>
    </label>
    <div class="col-sm-10">
      <%= form.text_field :image, required:true %>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">
      <%= form.label :quantity %>
    </label>
    <div class="col-sm-10">
      <%= form.number_field :quantity, required:true %>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">
      <%= form.label :purchase_price %>
    </label>
    <div class="col-sm-10">
      <%= form.text_field :purchase_price, required:true %>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">
      <%= form.label :sale_price %>
    </label>
    <div class="col-sm-10">
      <%= form.text_field :sale_price, required:true %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
