<p id="notice"><%= notice %></p>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="<%= @product.image %>"  alt="<%= @product.name%>">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder"><%= @product.name%></h5>
                            <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                Quantity
                                <span class="badge bg-primary rounded-pill"><%= @product.quantity %></span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                Purchase Price R$
                                <span class="badge bg-primary rounded-pill"><%= @product.purchase_price %></span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                Price Price R$
                                <span class="badge bg-primary rounded-pill"><%= @product.sale_price%></span>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
