<!DOCTYPE html>
<html>
  <head>
    <title>Product Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="p-3 bg-dark terxt-whit">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" <% if params[:controller] == "home" %> class="nav-link px-2 text-secondary" <% else %> class="nav-link px-2 text-white" <% end %>>Home</a></li>
              <li><a href="/products" <% if params[:controller] == "products" %> class="nav-link px-2 text-secondary" <% else %> class="nav-link px-2 text-white" <% end %>>Products</a></li>
              <li><a href="/users" <% if params[:controller] == "users" %> class="nav-link px-2 text-secondary" <% else %> class="nav-link px-2 text-white" <% end %>>Users</a></li>
            </ul>

            <div class="text-end">
                <a href="/users/<%=  %>" class= "btn btn-outline-light me-2">Perfil</a>
              <%= link_to 'Logout', logout_url, method: :get, class: "btn btn-warning",
              data: {controller: 'sweetalert',
                     action: 'click->sweetalert#showAlert',
                     sweetalert_title_value: 'Do you want to go out?' } %>
            </div>
          </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
        <div class="navbar-fixed-bottom">
          <div class="row">     
            <div class="col-md-4 d-flex align-items-center">
              <span class="text-muted">© 2021 Product Management, Inc</span>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
